.newsletter {
  background-color: $grey-bg;

  &__wrapper {
    padding: 50px 96px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @include media-query(tablet) {
      padding: 24px 40px 32px;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &__container {
    @include media-query(tablet) {
      width: 100%;
    }
  }

  &__heading {
    flex: 1 1 auto;
    @include media-query(small-desktop) {
      text-align: center;
    }
    h3 {
      color: $blue-text;
      font-size: 77px;
      letter-spacing: 6.54px;
      font-weight: 500;
      &:not(:last-child) {
        margin-bottom: 8px;
        @include media-query(bigger-desktop) {
          font-size: 55px;
          letter-spacing: 3px;
        }
        @include media-query(small-desktop) {
          font-size: 40px;
          letter-spacing: 3.4px;
        }
        @include media-query(tablet) {
          margin-bottom: 16px;
        }
      }
    }
    p {
      max-width: 530px;
      font-size: 18px;
      letter-spacing: 0.63px;
      font-weight: 500;
      strong {
        font-weight: bold;
      }
      @include media-query(bigger-desktop) {
        max-width: 450px;
        font-size: 16px;
      }
      @include media-query(small-desktop) {
        font-size: 14px;
        letter-spacing: 0.49px;
        margin: 0 auto 32px;
      }
    }
  }

  &__body {
    flex: 1 0 25%;
    @include media-query(tablet) {
      flex: 0 1 100%;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 16px;
  }
  .validation-info {
    margin-bottom: 0;
    line-height: 0;
    font-size: 11px;
    color: $accent-text;
    transition: all 0.3s ease 0s;

    &.hidden {
      display: none;
    }
  }
}
.form {
  &__input {
    width: 100%;
    min-height: 40px;
    outline: none;
    padding: 11px 17px;
    font-size: 14px;
    letter-spacing: 0.49px;
    border: 1px solid $blue-text;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    transition: border-color 0.3s ease 0s;

    &.invalid {
      border: 2px solid red;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: bold;
    padding: 11px 17px;
    min-height: 40px;
    width: 100%;
    background: #000;
    color: white;
    &:hover {
      background: $blue-text;
    }
    &:active {
      background: $brown-text;
    }
  }
}
