.page {
  flex: 1 1 auto;
}
//SALES-ALERT----------------------------
@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.sales-alert {
  background-color: #000;
  padding: 22px 0;
  @include media-query(tablet) {
    padding: 14px 15px;
  }
}
.sales-alert__content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  animation: scrollText 17s infinite linear;
  @include media-query(tablet) {
    animation: none;
    flex-direction: column;
    text-align: center;
  }
}
.sales-alert__decor {
  svg {
    width: 20px;
    vertical-align: middle;
  }
  path {
    fill: #707070;
  }
}
.sales-alert__message {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  @include media-query(tablet) {
    white-space: normal;
    font-size: 14px;
    letter-spacing: 0.56px;

    &:last-child {
      max-width: 250px;
    }
  }
}
//HERO---------------------------
.page__hero {
  margin: 25px auto 56px auto;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 16px;
}
.hero__banner {
  flex: 0 1 calc(50% - 26px);
  @include media-query(tablet) {
    flex: 0 1 100%;
  }
}
.banner {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
  &__button {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 192px;
    max-height: 64px;
    @include media-query(phone) {
      width: 142px;
      height: 50px;
    }
  }
}
//PRODUCERS-------------------------
.page__producers {
}
.producers {
  margin-bottom: 64px;
}
.producers__container {
}
.producers__heading {
  margin-bottom: 48px;
  @include media-query(phone) {
    margin-bottom: 24p;
  }
}
.producers__content {
}
.producers__carousel {
}
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 78px;
  @include media-query(tablet) {
    column-gap: 30px;
  }
  @include media-query(phone) {
    column-gap: 10px;
  }
  cursor: grab;
  &__image {
    width: 150px;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .slick-arrow {
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    background-image: url("../images/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: static;
    transform: none;
    transition: all 0.3s ease 0s;
    &::before {
      display: none;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    &:hover {
      transform: scale(1.1) rotate(180deg);
    }
  }
  .slick-disabled {
    transition: all 0.2s ease 0s;
    opacity: 0.2;
  }
}
.carousel__slide {
  //  display: flex;
  //  justify-content: center;
}
