.page {
  flex: 1 1 auto;
}
//SALES-ALERT----------------------------
@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.sales-alert {
  background-color: #000;
  padding: 22px 0;
  @include media-query(tablet) {
    padding: 14px 15px;
  }
}
.sales-alert__content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  animation: scrollText 17s infinite linear;
  @include media-query(tablet) {
    animation: none;
    flex-direction: column;
    text-align: center;
  }
}
.sales-alert__decor {
  svg {
    width: 20px;
    vertical-align: middle;
  }
  path {
    fill: #707070;
  }
}
.sales-alert__message {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  @include media-query(tablet) {
    white-space: normal;
    font-size: 14px;
    letter-spacing: 0.56px;

    &:last-child {
      max-width: 250px;
    }
  }
}
//HERO---------------------------
.page__hero {
  margin: 25px auto 56px auto;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 16px;
}
.hero__banner {
  flex: 0 1 calc(50% - 26px);
  @include media-query(tablet) {
    flex: 0 1 100%;
  }
}
.banner {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
  &__button {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 192px;
    max-height: 64px;
    @include media-query(phone) {
      width: 142px;
      height: 50px;
    }
  }
}
//PRODUCERS-------------------------
.producers {
  margin-bottom: 64px;
  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 78px;
    @include media-query(tablet) {
      column-gap: 30px;
    }
    @include media-query(phone) {
      column-gap: 10px;
    }
    cursor: grab;
    &__slide {
      transition: all 0.3s ease 0s;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__image {
      width: 150px;
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .slick-arrow {
      flex: 0 0 auto;
      width: 36px;
      height: 36px;
      background-image: url("../../public/images/icons/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: static;
      transform: none;
      transition: all 0.3s ease 0s;
      &::before {
        display: none;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .slick-prev {
      transform: rotate(180deg);
      &:hover {
        transform: scale(1.1) rotate(180deg);
      }
    }
    .slick-disabled {
      transition: all 0.2s ease 0s;
      opacity: 0.2;
    }
  }
}
.producers__heading {
  margin-bottom: 48px;
  @include media-query(phone) {
    margin-bottom: 24p;
  }
}

//MAIN_BANNER-----------------------------
.page__main-banner {
  margin-bottom: 56px;
  @include media-query(tablet) {
    margin-bottom: 40px;
  }
}
.main-banner__content {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.main-banner__text {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  top: 32%;
  right: 17%;
  font-size: 95.04px;
  line-height: 1;
  letter-spacing: 17.28px;
  white-space: nowrap;
  background-color: #e9eaec6b;

  @include media-query(large-desktop) {
    transform: scale(0.8);
    top: 20%;
    right: 13%;
  }
  @include media-query(bigger-desktop) {
    transform: scale(0.65);
    top: 16%;
    right: 10%;
  }
  @include media-query(desktop) {
    top: 10%;
    right: 8%;
  }
  @include media-query(small-desktop) {
    transform: scale(0.5);
    top: 4%;
    right: 2%;
  }
  @include media-query(tablet) {
    transform: scale(0.47);
    top: 5%;
    right: -15%;
  }
  @media (max-width: 580px) {
    transform: scale(0.4);
    top: 4%;
    right: -25%;
  }
  @include media-query(phone) {
    transform: scale(0.3);
    top: -1%;
    right: -35%;
  }
  @include media-query(small-phone) {
    transform: scale(0.25);
    top: -23%;
    right: -55%;
  }
}
.text--vertical {
  writing-mode: vertical-rl;
  position: absolute;
  transform: rotate(180deg);
  font-weight: 500;
  top: 7%;
  left: -10%;
  font-size: 46.08px;
  letter-spacing: 1.44px;
  background-color: #e9eaec6b;
}
.text--accent {
  color: $brown-text;
  font-weight: 600;

  &:nth-of-type(1) {
    letter-spacing: 5.76px;
    font-size: 132.48px;
  }
  &:nth-of-type(2) {
    position: absolute;
    font-weight: 700;
    font-size: 51.84px;
    letter-spacing: 63.84px;
    left: 2%;
    background-color: #e9eaec6b;
  }
}
.main-banner__button {
  position: absolute;
  bottom: 15%;
  right: 25%;
  min-width: 290px;
  @include media-query(small-desktop) {
    font-size: 14px;
    min-width: 230px;
    padding: 18px 30px;
    right: 38%;
    transform: translateX(50%);
  }
  @include media-query(tablet) {
    font-size: 16px;
    min-width: 260px;
    padding: 20px 32px;
    right: 33%;
    transform: translateX(50%);
  }
  @include media-query(phone) {
    min-width: 226px;
    font-size: 14px;
    min-width: 230px;
    padding: 18px 30px;
    right: 50%;
    transform: translateX(50%);
  }
}
//SALES--------------------------
.sales {
  margin-bottom: 130px;
  @include media-query(tablet) {
    margin-bottom: 66px;
  }
  &__heading {
    margin-bottom: 24px;
    @include media-query(tablet) {
      margin-bottom: 31px;
    }
  }
  .carousel {
    cursor: grab;
    .slick-slide {
      margin: 0 23px;
    }
    .slick-list {
      margin: 0 -23px;
    }
    @include media-query(tablet) {
      .slick-slide {
        margin: 0 20px;
      }
      .slick-list {
        margin: 0 -20px;
      }
    }
  }
  .card {
    max-width: 340px;
    @include media-query(tablet) {
      max-width: 240px;
    }
    &:hover {
      .top-image {
        opacity: 1;
      }
    }
    &__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      letter-spacing: 0.42px;
      margin-bottom: 5px;
      text-transform: uppercase;
      @include media-query(tablet) {
        margin-bottom: 8px;
      }
    }
    .price {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 14px;
        @include media-query(tablet) {
          margin-bottom: 11px;
        }
      }
      &--current {
        font-size: 20px;
        letter-spacing: 0.6px;
        color: $accent-text;
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
      &--old {
        font-size: 18px;
        letter-spacing: 0.54px;
        color: $grey-text;
        text-decoration: line-through;
      }
    }
    &__product-type {
      display: flex;
      justify-content: center;
      p {
        padding: 3px 6px;
        letter-spacing: 0.42px;
        font-size: 14px;
        border: 1px solid black;
      }
    }
    .badge-group {
      text-transform: uppercase;
      position: absolute;
      top: 3%;
      right: 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;
      row-gap: 10px;
      &__badge {
        text-align: center;
        display: inline-block;
        font-size: 11px;
        padding: 1px 18px;
        background-color: $badge-color;
      }
    }
    &__discount {
      position: absolute;
      bottom: 10%;
      left: 0;
      font-size: 11px;
      color: #fff;
      font-size: 18px;
      letter-spacing: 0.54px;
      padding: 4px 7px;
      background-color: #00000077;
    }
    &__image {
      position: relative;
      max-width: 100%;
      max-height: 455px;
      margin-bottom: 15px;
      @include media-query(tablet) {
        margin-bottom: 8px;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .top-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
      }
      .card__like {
        position: absolute;
        top: 3%;
        left: 3%;
        background-color: $badge-color;
        padding: 6px 5px 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;

        &:hover,
        &.clicked {
          background-color: $badge-hover-color;
          path {
            fill: $badge-color;
          }
        }
        &:active {
          background-color: $light-orange;
        }
        svg {
          width: 22px;
          vertical-align: middle;
          path {
            fill: $badge-hover-color;
          }
        }
      }
    }
  }
}
