$light-orange: #ff6b6b;
$accent-text: #ff0102;
$brown-text: #91745a;
$grey-text: #939393;
$blue-text: #0068ff;
$grey-bg: #f4f4f4;
$badge-color: #ffffff82;
$badge-hover-color: #90a99e;

$breakpoints: (
  small-phone: "max-width: 360px",
  phone: "max-width: 479.98px",
  tablet: "max-width: 767.98px",
  small-desktop: "max-width: 991.98px",
  desktop: "max-width: 1023.98px",
  bigger-desktop: "max-width: 1199.98px",
  large-desktop: "max-width: 1540px",
);

@mixin media-query($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media (#{$size}) {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - nie istnieje w map breakpoints';
  }
}
